<div class="main">
  <h2>Calendar of Appointments</h2>

<!-- Add appt -->
  <button type="button" ng-show="addapptbutton" ng-click="ngadd()">Add New Appointment</button>

  <p ng-show="confirmaddapptbutton">Date(MM/DD/YYYY):
    <input ng-model="appt.date" placeholder="Appointment Date"></p>
  <p ng-show="confirmaddapptbutton">Time(H:MMpm):
    <input ng-model="appt.time" placeholder="Appointment Time"></p>
  <p ng-show="confirmaddapptbutton">Therapist:
    <input ng-model="appt.therapist" placeholder="Massage Therapist"></p>
  <p ng-show="confirmaddapptbutton">Length of Appointment(minutes):
    <input ng-model="appt.duration" placeholder="Length of Appointment"></p>
  <p ng-show="confirmaddapptbutton">Price($):
    <input ng-model="appt.cost" placeholder="Appointment Price"></p>

  <button ng-show="confirmaddapptbutton" type="button" ng-click="addAppt(appt)">Confirm Add</button>

<!-- Appt display including change appt inputs -->
  <div class="calendar" ng-repeat="appt in appts | filter: appt.scheduled = false">

    <h2>Date: {{appt.date}}</h2>
    <input ng-show="confirmchangeapptbutton" ng-model="appt.date" placeholder="Appointment Date"> <br>
    <h2>Time: {{appt.time}}</h2>
    <input ng-show="confirmchangeapptbutton" ng-model="appt.time" placeholder="Appointment Time"> <br>
    <h2>Therapist: {{appt.therapist}}</h2>
    <input ng-show="confirmchangeapptbutton" ng-model="appt.therapist" placeholder="Therapist"> <br>
    <h2>Length of Appointment: {{appt.duration}} minutes</h2>
    <input ng-show="confirmchangeapptbutton" ng-model="appt.duration" placeholder="Length of Appointment"> <br>
    <h2>Price: ${{appt.cost}}.00</h2>
    <input ng-show="confirmchangeapptbutton" ng-model="appt.cost" placeholder="Appointment Date"> <br>

<!-- Reserve appt -->
    <button ng-show="reserveapptbutton" type="button" ng-click="changeUser(user, appt)" ui-sref="pay">Reserve Appointment</button> <br>

<!-- Delete appt -->
    <button ng-show="deleteapptbutton" type="button" ng-click="confirmdeleteapptbutton = true">Delete Appointment</button>
    <div type="button" class="deleteconfirm" ng-show="confirmdeleteapptbutton">
      <h2>Are you sure you want to delete your account?</h2>
      <button type="button" ng-click="deleteAppt(appt)">Yes</button><button type="button" ng-click = "confirmdeleteapptbutton = false">No</button>
    </div> <br>

<!-- Change appt -->
    <button ng-show="changeapptbutton" type="button" ng-click="ngchange()">Change Appointment</button>
    <button ng-show="confirmchangeapptbutton" type="button" ng-click="changeAppt(appt)">Save Changes</button>
  </div>
</div>

<div class="button">
  <a ui-sref="profile"><h5>Personal Profile</h5></a>
</div>
