<div class="main">
  <div class="left">
    <div class="profile">
      <img src="" alt="" />
      <h2>Name:</h2>
      <p>Age:</p>

      <h2>Contact Information</h2>
      <p>Phone:</p>
      <p>Email:</p>
      <p>Address:</p>
      <p>Address <br> City, State Zip</p>

      <h2>Insurance Information:</h2>
      <p>Provider:</p>

      <h2>Health Information</h2>
      <p>Conditions:</p>


    </div>

  </div>
  <div class="right">
    <div class="schedappts">
      <!-- ng-repeat="appt in schedappts" -->
      <h2>Scheduled Appointments</h2>
      <p>Date:</p>
      <p>Time:</p>
      <p>Duration:</p>
      <p>Therapist:</p>

    </div>
    <div class="pastappts">
      <!-- ng-repeat="appt in schedappts" -->
      <h2>Past Appointments</h2>
      <p>Date:</p>
      <p>Time:</p>
      <p>Duration:</p>
      <p>Therapist:</p>
    </div>
  </div>

</div>

<div class="button">
  <a ui-sref="calendar"><h5>Schedule an Appointment</h5></a>
</div>
