<div class="main">
  <div class="left">
    <div class="profile">
      <div class="profilepic">
        <p>Your picture goes here.</p>
        <img src="" alt="" />


      </div>
      <div class="personal">
        <h2>Name: Nick Marucci</h2>
        <p>Age: 29</p>
      </div>
      <div class="personalcontact">
        <h2>Contact Information</h2>
        <p>Phone: 7164502362</p>
        <p>Email: npm1514@gmail.com</p> <br>
        <p>Address:</p>
        <p>491 S Freedom Blvd</p>
        <p>Provo, UT 86401</p>
      </div>
      <div class="insurance">
        <h2>Insurance Information:</h2>
        <p>Provider: UHC</p>
      </div>
      <div class="healthinfo">
        <h2>Health Information</h2>
        <p>Conditions: Bad Neck</p>
      </div>






    </div>

  </div>
  <div class="right">
      <!-- ng-repeat="appt in schedappts" -->
    <h2>Scheduled Appointments</h2>
    <div class="schedappts">
      <p>Date: February 29, 2016</p>
      <p>Time: 3:00pm</p>
      <p>Duration: 60 minutes</p>
      <p>Therapist: Melissa</p>
    </div>


      <!-- ng-repeat="appt in schedappts" -->
    <h2>Past Appointments</h2>
    <div class="pastappts">
      <p>Date: December 12, 2015</p>
      <p>Time: 5:00pm</p>
      <p>Duration: 90 minutes</p>
      <p>Therapist: Maude</p>
    </div>

  </div>

</div>

<div class="button">
  <a ui-sref="calendar"><h5>Schedule an Appointment</h5></a>
</div>
