body, header, footer, .main {
  width: 100%;
  margin: 0;
  text-align: center;
}

p, h1, h2, h3, h4, h5, h6 {
  border: 0;
  margin: 0;
  font-family: 'Avenir LT Std 45 Book'
}

p {
  font-size: 15px;
}

h1 {
  font-size: 50px;
  color: #fff;
}

h2 {
  font-size: 20px;
  color: #3c3c3c;
}

h3 {
  font-size: 15px;
  font-weight: bold;
  color: #3c3c3c;
}

h4 {
  color: #089e93;
  font-size: 12px;

}

h5 {
  font-size: 20px;
  font-weight: bold;

}

h6 {
  font-size: 15px;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #089e93;
}

select {
  width: max-content;
}

select, input, button {
  padding: 5px;
  font-family: 'Avenir LT Std 45 Book';
  margin: 5px;
}

input {
  width: 150px;

}

header {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #7A4E2B;
  margin-bottom: 20px;
  display: inline-block;
}

.logo {
  height: 150px;
  width: 150px;
  float: left;
  margin-left: 10%;
}

.logo img{
  height: 150px;
  width: 150px;
}

.nav {
  padding-right: 5%;
  padding-top: 60px;
  display: inline-block;
  float: right;
}

.nav a {
  color: #3c3c3c;
  padding: 3px;
  margin: 5px;
  display: inline-block;
}

.nav a:hover {
  border-bottom: 3px solid #089e93;
  color: #7a4e2b;
}

.main {
  margin-bottom: 20px;
  display: inline-block;
}

.left {
  width: 50%;
  float: left;
  border-right: 1px solid #7a4e2b;
  min-height: 550px;
}

.right {
  width: 49%;
  float: left;
}

.profile {
  width: 80%;
  margin: auto;
  display: inline-block;
}

.profile input {
  width: 300px;
  text-align: center;
}

.profilepic {
  width: 200px;
  height: auto;
  border: 2px solid #7a4e2b;
  margin: auto;
  background-color: #808080;
}

.personal {
  display: inline-block;
}

.modify, .savebutton {
  display: none;
}

.profilepic p {
  margin: 20px;

}

.profilepic img {
  width: 200px;
  height: auto;
}

.deleteconfirm {
  height: 90px;
  width: 225px;
  background-color: #8d8d8d;
  border: 1px solid #7a4e2b;
  display: none;
  padding: 40px;
  position: fixed;
  top:0px;
  bottom:0px;
  left:0px;
  right:0px;
  margin:auto;
}

.schedappts, .right h2, .pastappts, .profilepic, .personal, .personalcontact, .insurance, .healthinfo {
  margin-bottom: 10px;
}

.newappt, .newappt h2, .billing h2, .left h2 {
  margin-bottom: 20px;
}

.billing h2, .newappt h2 {
  padding-bottom: 20px;
  border-bottom: 1px solid #7a4e2b;
}

.calendar {
  width: 80%;
  border: 1px solid #7a4e2b;
  margin: 20px auto;
  padding: 20px;
}

.appointment {
  border: 1px solid #7a4e2b;
  padding: 20px;
  width: max-content;
  margin: 20px auto;
  display: inline-block;
}

.appointment p {
  text-align: right;
}

.revieworder {
  width: 200px;
  height: 25px;
  padding: 10px;
  background-color: #089e93;
  border: 1px solid #7a4e2b;
  margin: auto;
  clear: both;
}

.revieworder:hover {
  background-color: #8d8d8d;
}

.paymentinfo {
  width: max-content;
  margin: auto;
}



.appointment p {
  text-align: right;
}


.appointment h2 {
  padding-bottom: 20px;
  border-bottom: 1px solid #7a4e2b;
}

.payleft {
  float: left;
  margin: 15px 10px;
}

.payleft h3 {
  padding: 5px;
  margin: 10px;
}

.payright {
  float: left;
  margin: 15px 10px;
  text-align: left;
}

.congrats {
  height: max-content;
  background-color: #7a4e2b;
  margin-bottom: 20px;
}

.congrats h1 {
  color: #fff;
  margin: 10px;
}

.congrats h2 {
  color: #3c3c3c;
  margin: 10px;
}

.button {
  position: absolute;
  left: 0;
  right: 0;
  top: 70px;
  margin: auto;
  width: max-content;
}

.button a {
  color: #3c3c3c;
  padding: 3px;
  margin: 5px;
  display: inline-block;
}

.button a:hover {
  border-bottom: 3px solid #089e93;
  color: #7a4e2b;
}

footer {
  background-color: #7A4E2B;
  height: 40px;
  padding-top: 20px;
  text-align: left;
  clear: both;
}

footer h6 {
  margin-left: 10%;
}

@media only screen and (max-width: 685px) {
  header {
    height: 200px;
  }
  .button {
    top: 175px;
  }
  .left {
    width: 100%;
    float: none;
    border: none;
    min-height: 0;
    padding-bottom: 25px;
  }
  .right {
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 1px solid #7a4e2b;
    border-bottom: 1px solid #7a4e2b;
    width: 100%;
    float: none;
  }
}

@media only screen and (max-width: 375px) {
  .nav {
    float: none;
  }
  header {
    height: 250px;
  }
}
